
// Colors
$white: hsl(0, 0%, 100%);
$light-violet: hsl(270, 3%, 87%);
$dark-violet: hsl(279, 6%, 55%);
$deep-violet: hsl(278, 68%, 11%);

$border-focus: hsl(278, 94%, 30%);
$active-shadow: hsl(249, 99%, 64%);
$error: hsl(0, 100%, 66%);

// Padding and Margin
$xs: 5px;
$sm: 10px;
$md: 15px;
$lg: 20px;
$xlg: 35px;


// Transition
$transition: all .2s ease-in;


// Font Weight
$medium: 500;